{{>partials/header}}
    <h1>Título da Pagina</h1>
    <hr />
    {{#user.showWelcome}}
        Opa tudo bem, como vai, {{ user.name }}? 
    {{/user.showWelcome}}

    {{#user.showOld}}
        sua idade aparece {{ user.age }}
    {{/user.showOld}}
    <hr />
    <h2>Produtos</h2>
    <ul>
        {{#user.products}}
            {{>partials/productItem}}
        {{/user.products}}
    </ul>
    <hr />
    <h2>Produtos a partir de 12 reais</h2>
    <ul>
        {{#user.expensives}}
            {{>partials/productItem}}
        {{/user.expensives}}
    </ul>
    <hr />
    <h2>Skills</h2>
    <ul>
        {{#user.skills}}
            <li>{{ . }}</li>
        {{/user.skills}}
        {{^user.skills}}
            Não há habilidades
        {{/user.skills}}
    </ul>
{{>partials/footer}}