{{>partials/header}}
    <h1>Título da Pagina</h1>
    <hr />
    {{#user.showWelcome}}
        Opa tudo bem, como vai, {{ user.name }}? 
    {{/user.showWelcome}}

    {{#user.showOld}}
        sua idade aparece {{ user.age }}
    {{/user.showOld}}
    <hr />
    <fieldset>
        <legend>Novo Usuário</legend>
        <form method="POST" action="/novousuario">
            <input type="text" name="name" placeholder="Digite um nome" /><br /><br />
            <input type="text" name="age" placeholder="Digite uma idade" /><br /><br />
            <input type="submit" value="Inserir Usuário" />
            </form>
    </fieldset>
    <hr />
        <h2>Usuários do Banco</h2>
        <ul>
        {{#users}}
            <li>
                {{ name }} (Primeira Letra - {{firstLetterOfName}})
                - Idade: {{ age }}
                - <a href="/usuario/{{id}}/mais">➕</a>
                - <a href="/usuario/{{id}}/menos">➖</a>
                - <a href="/usuario/{{id}}/excluir">⛔</a>
            </li>
        {{/users}}
        </ul>
    <hr />
    <h2>Produtos</h2>
    <ul>
        {{#user.products}}
            {{>partials/productItem}}
        {{/user.products}}
    </ul>
    <hr />
    <h2>Produtos a partir de 12 reais</h2>
    <ul>
        {{#user.expensives}}
            {{>partials/productItem}}
        {{/user.expensives}}
    </ul>
    <hr />
    <h2>Skills</h2>
    <ul>
        {{#user.skills}}
            <li>{{ . }}</li>
        {{/user.skills}}
        {{^user.skills}}
            Não há habilidades
        {{/user.skills}}
    </ul>
{{>partials/footer}}