<html>
<head>
    <title>Pagina Home | Mustache</title>
</head>
    <h1>Título da Pagina</h1>
    <hr />
    {{#user.showWelcome}}
        Opa tudo bem, como vai, {{ user.name }}? 
    {{/user.showWelcome}}

    {{#user.showOld}}
        sua idade aparece {{ user.age }}
    {{/user.showOld}}
    <hr />
    <h2>Produtos</h2>
    <ul>
        {{#user.products}}
            <li>{{ title }} - R$ {{ price }}</li>
        {{/user.products}}
    </ul>
    <hr />
    <h2>Skills</h2>
    <ul>
        {{#user.skills}}
            <li>{{ . }}</li>
        {{/user.skills}}
        {{^user.skills}}
            Não há habilidades
        {{/user.skills}}
    </ul>

</html>