<html>
<head>
    <title>Pagina Home | Mustache</title>
</head>
    <h1>Título da Pagina</h1>
    <hr />
    {{#user.showWelcome}}
        Opa tudo bem, como vai, {{ user.name }}? 
    {{/user.showWelcome}}

    {{#user.showOld}}
        sua idade aparece {{ user.age }}
    {{/user.showOld}}
</html>